._3Sb2o_mQ30IDRh0C72QUUu,
._2gSXCB6PbOlMxslr8hm6dm,
._2iJsgdTIX9Tj23rWnB7Q-c,
._1bGewp3tfzqAF6fVTFFUOz ._29p1jfvZ-VdlXK24_7UGsK,
.DialogContent,
._3x1HklzyDs4TEjACrRO2tB,
._20QAC4WMXm8qFE8waUT5oo,
._3pXasCUulX4jjqO79s4q_F,
._1ENHEsrSLcTRtPQFl1F-wL,
.DesktopUI .title-area-icon,
._39oUCO1OuizVPwcnnv88no .qP17eBPXkfezFfexZ4hC3,
._3vCzSrrXZzZjVJFZNg9SGu,
._3cykd-VfN_xBxf3Qxriccm ._3yD46y5pd3zOGR7CzKs0mC,
._17uEBe5Ri8TMsnfELvs8-N {
  background: transparent !important;
}

._1rDh5rXSFZJOqCa4UpnI4z,
.DialogContentTransition,
._2Dd4T78PcCTUVgOtDGFY5j {
  background-color: var(--bg-content);
}
._2kwFFHckg8jvnwJfg9-la8,
._9sPoVBFyE_vE87mnZJ5aB {
  background-color: var(--bg-sidebar);
}
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K,
._3Z7VQ1IMk4E3HsHvrkLNgo {
  background-color: var(--bg-header);
}