:root {
  /*
  * @name background for the appliction header
  */
  --bg-header: #1e1e1e;
  /*
  * @name background for the sidebar (for example the game list in library)
  */
  --bg-sidebar: #1e1e1e;
  /*
  * @name background for the application content (for example the game page in library)
  */
  --bg-content: #1e1e1e;
  /*
  * @name color
  */
  --color: #808080;
  /*
  * @name border
  */
  --border: #262626;
  /*
  * @name border hover
  */
  --border-hover: #464646;
  /*
  * @name popup background
  */
  --bg-popup: #262626;
  /*
  * @name black
  */
  --black: #1e1e1e;
  /*
  * @name blacker
  */
  --blacker: #191919;
  /*
  * @name blacker alt
  */
  --blacker-alt: #121212;
  /*
  * @name blacker alt1
  */
  --blacker-alt1: #101010;
  /*
  * @name blacker alt2
  */
  --blacker-alt2: #0c0c0c;
  /*
  * @name topgrey
  */
  --topgrey: #8b929a;
  /*
  * @name topgrey1
  */
  --topgrey1: #b9bec4;
  /*
  * @name greyblack
  */
  --greyblack: #2e2e2f;
  /*
  * @name invisiblegrey
  */
  --invisiblegrey: #2d2d2d;
  /*
  * @name browser overlay close
  */
  --browser-overlay-close: #a0de63;
  /*
  * @name red2
  */
  --red2: #f12446;
    /*
  * @name red2
  */
  --red2-rgba: #f12446;
  /*
  * @name redsettings
  */
  --redsettings: #bf3d3d;
  /*
  * @name greensettings
  */
  --greensettings: #5aa05a;
  /*
  * @name status green
  */
  --status-green: #06e39d;
  /*
  * @name less white
  */
  --less-white: #dcdcdc;
  /*
  * @name progress bar
  */
  --progress-bar: #21d083;
  /*
  * @name currency
  */
  --currency: #d6d6df;
  /*
  * @name installed games
  */
  --installed-games: #d6cab7;
  /*
  * @name left side game header gradient in library sidebar
  */
  --sidebar-game-header-gradient-1: #121212;
  /*
  * @name right side game header gradient in library sidebar
  */
  --sidebar-game-header-gradient-2: #121212;
  /*
  * @name left side game gradient in library sidebar
  */
  --sidebar-game-gradient-1: #121212;
  /*
  * @name right side game gradient in library sidebar
  */
  --sidebar-game-gradient-2: #121212;
  /*
  * @name topbar selected tab color
  */
  --topbar-selected-tab: #ffffff;
}