._3x1HklzyDs4TEjACrRO2tB {
  height: 100%;
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  user-select: none;
  outline: none;
  border-top: 0px solid var(--border);
}

._2TKEazUUS3TlniZfpc8OOe {
  padding: 4px 6px 2px 6px;
  background-color: var(--blacker-alt);
  box-shadow: rgba(61, 68, 80, .75) 1px 0px 0px 0px inset, rgba(38, 45, 56, .42) 0px -1px 0px 0px inset, rgba(0, 0, 0, .2) 0px 3px 3px;
  position: relative;
  display: none;
  /* remove this line to display home and collection button */
  height: 36px;
  border-top: 1px solid #222323;
}

._2sYIghGVXJr6tsQVvcryy8 {
  border-right: 1px solid var(--blacker-alt);
  background: linear-gradient(to right, var(--sidebar-game-header-gradient-1) 40%, var(--sidebar-game-header-gradient-2) 100%);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  transition: .25s ease-out;
}

._2sYIghGVXJr6tsQVvcryy8._2zGph-MSF37bUmk_Qlu_XG {
  background-color: #24282f;
  border-radius: 3px;
  border-radius: var(--corner);
  box-sizing: border-box;
  background: linear-gradient(to right, rgba(38, 38, 38, 1) 40%, rgba(62, 78, 105, 0) 100%);
  /* border-bottom: 1px solid var(--ligthgrey) ; */
  border-left: 1px solid var(--blacker);
  transition: .25s ease-out;
  height: 26px;
  width: 0;
}

.ehAsUVkW87U5OHZJohB5N ._3SFRZYIb9Y2q7YsVtB3YKb {
  stroke: #676666;
}

.ehAsUVkW87U5OHZJohB5N ._3SFRZYIb9Y2q7YsVtB3YKb:hover {
  stroke: var(--color);
}

._2sYIghGVXJr6tsQVvcryy8:hover {
  box-sizing: border-box;
  background: linear-gradient(to right, rgba(38, 38, 38, 1) 40%, rgba(62, 78, 105, 0) 100%);
  /* border-bottom: 1px solid var(--ligthgrey) ; */
  border-left: 5px solid var(--blacker);
  transition: .25s ease-out;
}

._2-O4ZG0KrnSrzISHBKctFQ {
  font-size: 12px;
  box-shadow: unset;
  margin-left: 2px;
  background-image: linear-gradient(to right, var(--sidebar-game-gradient-1), var(--sidebar-game-gradient-2));
}

._2-O4ZG0KrnSrzISHBKctFQ:hover {
  color: #fff;
  background: linear-gradient(to right, var(--sidebar-hover-game-gradient-1), var(--sidebar-hover-game-gradient-2));
  border-left: 2px solid var(--border);
}

[role="gridcell"] {
  display: flex;
  align-items: center;

  & > div {
    flex: 1;
  }
}

/* ._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ,
._1UBpAXP408Ez_L_mXhW5Q9 {
  background: linear-gradient(90deg, var(--blacker-alt) 0%, rgb(30 30 30 / 0%) 50%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset 0 0px 6px 4px #0005, 0 0px 16px 0px #0004;
  border-left: 2px solid var(--color);
  margin-left: 2px;
} */

._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ:hover,
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj,
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ :hover,
._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ:hover,
._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj,
._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ :hover {
  background: transparent;
}

._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj {
  color: #fff;
  border-left: 2px solid var(--border);
  margin-top: 1px;
}

._3pSPluBgf0NeR1kkCLWMhR ._1ooROmAgkhoBH_o65yl9dJ {
  width: 100%;
  height: 100%;
  flex: none;
  fill: rgba(255, 255, 255, .05);
  position: absolute;
  z-index: 0;
  -webkit-mask-image: linear-gradient(to right, rgb(19 19 19) 30%, #1b1b1bd6 80%);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  background: var(--blacker);
}

._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3 {
  background-color: var(--border);
  background-repeat: no-repeat;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC:hover {
  background-color: var(--blacker);
  color: var(--color);
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC:active {
  background-color: var(--blacker-alt);
  color: var(--color);
  box-shadow: inset 0 0 8px #000000c2;
}

._1ZS_xta5HMXzR8JgxDH6n7 {
  box-sizing: border-box;
  padding: 0px;
  outline: none;
  display: flex;
  min-width: 0;
  position: relative;
  border-top: 1px solid var(--border);
}

._3cV3O8FnPQqpJO5kIMUlLX:hover ._2mZ8LlvoUiyeEUtIWuTri {
  color: var(--currency);
}

._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE {
  color: var(--installed-games);
  transition: .25s ease-out;
}

._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE:hover {
  color: var(--color);
}


._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9 {
  color: var(--color);
  background-image: linear-gradient(to right, var(--sidebar-active-game-gradient-1), var(--sidebar-active-game-gradient-2));
  border-left: 2px solid var(--border);

  ._1vO6BoiVslZgs1kqDGdUs8 {
    font-weight: bold;
  }
}

._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph:hover {
  color: var(--color);
}

._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._5YTBr7WwIfzVU_3nUtAph {
  color: var(--red2);
  margin-left: 2px;
}

._1UBpAXP408Ez_L_mXhW5Q9 {
  color: orange;
}

.SVGIcon_Button .SVGIcon_FriendIcon {
  color: var(--color);
}

.cNZ3wORgnf1KSNhI2eE2M Focusable {
  color: var(--color);
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 ._3uk3F1BmAJQR6rl1TPcaif {
  color: var(--status-green);
  text-transform: lowercase;
  font-style: italic;
}

/* steam cloud color*/
/* ._3uk3F1BmAJQR6rl1TPcaif { */
/* color: #ffb800 ; */
/* font-weight: 400 ; */
/* font-style: italic ; */
/* } */

/* ._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 svg:not(.SVGIcon_FriendIcon) polyline, ._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 svg:not(.SVGIcon_FriendIcon) path { */
/* stroke: #ffb800 ; */
/* fill: #ffb8003d ; */
/* stroke-width: 2px ; */
/* } */
/* end steam cloud color*/

._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k {
  color: var(--status-green);
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
}

.cNZ3wORgnf1KSNhI2eE2M {
  width: 11px;
  height: 11px;
  position: absolute;
  left: 6px;
  top: 3px;
}

._3cV3O8FnPQqpJO5kIMUlLX {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: 0;
  padding: 3px 9px;
  padding-left: 2px;
  color: var(--currency);
}

.uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow {
  border-radius: 0px;
  border: 0px solid var(--border);
  background-color: var(--blacker-alt);
  border-right: 1px solid var(--border);
}

.uE7Pj4tb2n3_Bx4vjEX0a:hover .SVGIcon_Arrow {
  background-color: var(--black);
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._1Gjk27xaRIzt2zOSwOSP0N {
  background-color: var(--blacker);
}

._2-O4ZG0KrnSrzISHBKctFQ .ga1hyw11cdBVodrCAidPF {
  border-radius: var(--corner);
  border: 1px solid var(--greyblack);
  box-sizing: border-box;
}

._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
  opacity: 1;
  border-radius: var(--corner);
}

._2sYIghGVXJr6tsQVvcryy8.sXMOsx8OIRalBMxO9yFY5 {
  background: linear-gradient(to right, var(--color) -350%, rgba(62, 78, 105, 0) 100%);
  box-shadow: none;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--color);
  transition: .25s ease-out;
}

._20QAC4WMXm8qFE8waUT5oo {
  border-top: 1px solid var(--border);
  border-bottom: 0px solid var(--border);
  /* border-right: 1px solid var(--border) ; */
  border-left: 0px solid var(--border);
  border-radius: 0px;
  margin: 0px;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
  border: 0px solid var(--border);
  background-color: var(--blacker-alt);
  border-radius: 0px;
  border-right: 1px solid var(--border);
}

._172OFJhtx4Jt2ydY6-9IUm ._3gzh_NvTKey56JeHY7Q1WW {
  background-color: var(--blacker-alt);
  border: 1px solid var(--color);
  border-radius: var(--corner);
  color: white;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._2rILnoW6swWh4_9TDWWc31 {
  background-color: var(--blacker);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.cNZ3wORgnf1KSNhI2eE2M svg circle,
.cNZ3wORgnf1KSNhI2eE2M svg path {
  fill: transparent;
}

svg.SVGIcon_Button.SVGIcon_FriendIcon {
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 7px;
  border-left: 2px solid #8cd61d;
  margin-top: -3px;
  margin-left: 0px;
  background: transparent;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._15aGnszAf3gHD-PFdJBoFD polygon {
  fill: #fff;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC:hover ._15aGnszAf3gHD-PFdJBoFD polygon {
  fill: var(--color);
}

._2iiN7AYnLFTRFRiuipiYJz {
  background-color: #26262680;
  backdrop-filter: blur(10px);
  padding: 4px;
  border-radius: var(--corner);
  border: 1px solid var(--border);
  width: auto;
  min-width: auto;
}

._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ,
._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ {
  background-color: transparent;
}

._2XyBbhE-O3Bc2CcJ_C-V1F:first-child {
  margin-bottom: 3px;
}

._2XyBbhE-O3Bc2CcJ_C-V1F {
  margin-bottom: 3px;
}

._2XyBbhE-O3Bc2CcJ_C-V1F:last-child {
  margin-bottom: 0px;
}

/* synchro cloud */
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ .cMb2tLY-QjdRohM5U6Btp,
._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ .cMb2tLY-QjdRohM5U6Btp {
  color: var(--progress-bar);
  background: transparent;
  border-right: 2px solid var(--progress-bar);
}

/* end synchro cloud */

._3km84Vscc0uS91f0RN_30C {
  border-top: none;
  border-bottom: 0px solid var(--color);
  border-left: 1px solid var(--color);
  background-color: var(--blacker);
  margin-left: 2px;
  margin-right: 1px;
  color: var(--color);
}

._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph {
  color: #a3aab9b0;
  font-weight: lighter;
}

._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 {
  padding: 2px 3px;
  font-weight: lighter;
}

._2-O4ZG0KrnSrzISHBKctFQ._10GdoB3tQXXGFToQ3yY_SK {
  color: #adff2f;
  transition: .25s ease-out;
}

._2-O4ZG0KrnSrzISHBKctFQ._10GdoB3tQXXGFToQ3yY_SK:hover {
  color: #9aff00;
  border-left: 2px solid var(--border);
  margin-left: 2px;
  transition: .25s ease-out;
}

._172OFJhtx4Jt2ydY6-9IUm ._3gzh_NvTKey56JeHY7Q1WW svg {
  opacity: 1;
}

._3gzh_NvTKey56JeHY7Q1WW.Focusable svg line {
  stroke: var(--color);
  fill: var(--color);
}

._3gzh_NvTKey56JeHY7Q1WW.Focusable:hover svg line {
  stroke: red;
  fill: red;
}

.uE7Pj4tb2n3_Bx4vjEX0a:hover .SVGIcon_Arrow polyline {
  stroke: var(--SystemAccentColor);
}

.uE7Pj4tb2n3_Bx4vjEX0a:active .SVGIcon_Arrow {
  stroke: var(--SystemAccentColor);
  box-shadow: inset 0 0 8px #000000c2;
}

._3kSh7qVSTDcPDePx9kya8C {
  padding-left: 5px;
}

.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo {
  margin-left: 0px;
}