._3Z7VQ1IMk4E3HsHvrkLNgo {
  background: var(--blacker);
}

._1TdaAqMFadi0UTqilrkelR {
  background: var(--blacker);
}

.ip-YZhijAMZcuRoXBGiye {
  background: var(--blacker);
}

._3vCzSrrXZzZjVJFZNg9SGu {
  background: var(--blacker);
}

._39oUCO1OuizVPwcnnv88no .qP17eBPXkfezFfexZ4hC3 {
  background: var(--blacker);
}

._3lRfTo8Wo3phXfE1DvK6QW {
  background-color: var(--blacker);
}

._3cykd-VfN_xBxf3Qxriccm ._3yD46y5pd3zOGR7CzKs0mC {
  background: var(--blacker);
}

._3cykd-VfN_xBxf3Qxriccm ._5wILZhsLODVwGfcJ0hKmJ {
  background: var(--blacker);
}

.DesktopUI .title-area-icon,
.friendsui-container .title-area-icon {
  background: var(--blacker);
}